<h4>Neighborhood</h4>
<h2><%= @name %> <% if @parking_type %>- <%= @parking_type.titleize.gsub('-','') %><% end %></h2>
<h6><%= page_entries_info @businesses %></h6>

<h4>Filter by parking type: <a href="/businesses/neighborhood/<%= @name %>">All</a> / <% @options.each do |option| %><a href="?parking_type=<%= option.name.parameterize %>"><%= option.name %></a> / <% end %></h4>

<div id="map"></div>

<div class="listing" data-zoom="15">
  <% @businesses.each_slice(3) do |businesses| %>
  <div class="row">
    <% businesses.each_with_index do |biz,i| %>
      <%= render partial: "business_listing", locals: {biz: biz} %>
    <% end %>
  </div>
  <% end %>
</div>

<%= will_paginate @businesses %>